#Importando bibliotecas e realizando configurações

In [2]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(host="rajje.db.elephantsql.com", database="xugnmzhe", user="xugnmzhe", password="N3BJNTsZq40cEeKL4RAGHUa9G0ec2zEK")

#9.1 CONSULTAS DAS TABELAS COM TODOS OS DADOS INSERIDOS (Todas)

### Objetivo: Obter todos os dados da tabela "PESSOA"

In [3]:
pd.read_sql_query("select * from pessoa", conn)

    cod_pessoa  fk_cod_grupo_familiar  ...          cpf data_nascimento
0            1                      1  ...  83087427853      1998-08-15
1            2                      1  ...  61576870880      1977-09-03
2            3                      1  ...  80663532787      2007-12-20
3            4                      1  ...   6410440979      1979-07-05
4            5                      2  ...  69505791607      1986-12-02
5            6                      2  ...  14101087830      1988-01-28
6            7                      2  ...  92251924876      1983-05-03
7            8                      2  ...   2407861736      1996-06-05
8            9                      2  ...  27148449286      1993-05-29
9           10                      2  ...  10176554130      1998-09-08
10          11                      3  ...  43490663063      1990-09-06
11          12                      3  ...  73490663063      1996-08-26
12          13                      3  ...  46733400006      1998-07-30
13          14                      3  ...  09248073000      1961-05-08
14          15                      3  ...  49033310082      1934-10-09
15          16                      3  ...  93397782007      1960-05-17
16          17                      3  ...  11873481047      1995-07-27
17          18                      3  ...  16521580060      1955-08-21
18          19                      3  ...  63320779052      1955-08-21
19          20                      3  ...  88385078053      1923-12-31

[20 rows x 5 columns]

### Objetivo: Obter todos os dados da tabela "GRUPO_FAMILIAR"

In [4]:
pd.read_sql_query("select * from grupo_familiar", conn)

   cod_grupo_familiar           nome_grupo_familiar
0                   1                    Minha Casa
1                   2    Familia de pescadores - VV
2                   3  Taberna dos viajantes - ANDO

### Objetivo: Obter todos os dados da tabela "FORNECEDOR"

In [5]:
pd.read_sql_query("select * from fornecedor", conn)

   cod_fornecedor   nome_fornecedor
0               1             MegaG
1               2     Ryu Alimentos
2               3               G2F
3               4         Distrimed
4               5  Famarcia do povo
5               6     Alimentos CIA
6               7    Limpeza do dia

### Objetivo: Obter todos os dados da tabela "PESSOA_CONSOME"

In [6]:
pd.read_sql_query("select * from pessoa_consome", conn)

    cod_pessoa_consome  fk_cod_produto  fk_cod_pessoa  quantidade_produto
0                    1               1              1               300.0
1                    2               2              2               200.0
2                    3               4              3                 1.0
3                    4               3              4                 1.0
4                    5               5              3               100.0
5                    6               6              2               250.0
6                    7               5              4               100.0
7                    8               2              1               200.0
8                    9               1              2               200.0
9                   10               7              5                22.0
10                  11               8              6               100.0
11                  12               9              7                 8.0
12                  13              10              8                 3.0
13                  14              11              9               100.0
14                  15              12             10               500.0
15                  16               1              5               200.0
16                  17               2              6               300.0
17                  18               2              7                 1.0
18                  19               6              8               150.0
19                  20               1              9               100.0
20                  21               2             10               150.0
21                  22              14              5               100.0
22                  23              16             11               200.0
23                  24              17             12                15.0
24                  25              20             13                 5.0
25                  26               5             15               100.0
26                  27              10             16                10.0
27                  28               2             17               200.0
28                  29               8             19               100.0
29                  30               7             20               240.0
30                  31               1             11               200.0
31                  32              16              9               400.0
32                  33               3             12                 2.0
33                  34              13              6                 3.0
34                  35              21              1               120.0
35                  36              22              2               100.0
36                  37              23              3                 1.0
37                  38              25              4                 2.0
38                  39              24              5                 3.0
39                  40              25              6                 4.0
40                  41              26              7                 5.0
41                  42              27              8                 6.0
42                  43              28              9                 7.0
43                  44              29             10                 8.0
44                  45              30             11                 9.0
45                  46               1             12                10.0
46                  47               2             13                 1.0
47                  48               3             14                 2.0
48                  49               4             15               100.0
49                  50               5             16               200.0
50                  51               6             17                 4.0
51                  52               7             18                 5.0
52                  53               8             19                 6.0
53                  54               9             20                87.0
54                  55              10              1                 8.0
55                  56              11              2                 9.0
56                  57              12              3                10.0
57                  58              13              4               200.0

### Objetivo: Obter todos os dados da tabela "FORNECEDOR_PRODUTO"

In [7]:
pd.read_sql_query("select * from fornecedor_produto", conn)

    cod_fornecedor_produto  fk_cod_fornecedor  fk_cod_produto
0                        1                  1               1
1                        2                  1               2
2                        3                  2               5
3                        4                  3               3
4                        5                  3               6
5                        6                  4               4
6                        7                  5              10
7                        8                  6               7
8                        9                  7              12
9                       10                  1               8
10                      11                  6               9
11                      12                  4              11
12                      13                  2              16
13                      14                  7              20
14                      15                  3              19
15                      16                  5              18
16                      17                  1              21
17                      18                  2              22
18                      19                  3              23
19                      20                  4              24
20                      21                  5              25
21                      22                  6              26
22                      23                  7              27
23                      24                  5              28
24                      25                  4              29
25                      26                  3              30

### Objetivo: Obter todos os dados da tabela "PRODUTO"

In [8]:
pd.read_sql_query("select * from produto", conn)

    cod_produto  fk_cod_tipo_produto  preco_produto      nome_produto
0             1                    1           7.79             Arroz
1             2                    1           5.99            Feijão
2             3                    4           3.79    Pasta de dente
3             4                    2          17.03       Antibiotico
4             5                    1          37.90             Peixe
5             6                    3           2.59      Desinfetante
6             7                    1           4.39          Macarrão
7             8                    1           5.39           Farinha
8             9                    2          10.99             Enxak
9            10                    1           2.38              Maçã
10           11                    2           6.99          Insulina
11           12                    4          11.99     Alcool em gel
12           13                    3          10.79             Cloro
13           14                    1           3.99              Café
14           15                    3           0.98          Sabonete
15           16                    1           9.90    Carne de porco
16           17                    1           4.55     Sopa enlatada
17           18                    2           5.00            Xarope
18           19                    4           3.40           Shampoo
19           20                    3           2.50     Sacos de lixo
20           21                    1           5.95  Leite condensado
21           22                    3           7.90       Sabão em pó
22           23                    3          11.29    Água sanitária
23           24                    1           3.59     Tomate Carmem
24           25                    1           8.80  Presunto Fatiado
25           26                    1           3.85   Batata Monalise
26           27                    1           6.70      Ovos brancos
27           28                    1          19.99    Filé de Frango
28           29                    2           3.68           Dorflex
29           30                    2           8.59        Vitamina C

### Objetivo: Obter todos os dados da tabela "TIPO_PRODUTO"

In [9]:
pd.read_sql_query("select * from tipo_produto", conn)

   cod_tipo_produto nome_tipo_produto
0                 1       Alimenticio
1                 2         Medicinal
2                 3     Limpeza Geral
3                 4   Limpeza Pessoal